:host {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  gap: 10px;
  color: var(--theme-black);
}
p {
  align-self: flex-end;
  font-size: var(--font-size-large);
  font-weight: bold;
}

button {
  align-self: flex-end;
}
button {
  background-color: var(--theme-green);
  color: white;
  font-size: var(--font-size-normal);
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 16px 32px;
}

button:hover {
  background-color: var(--theme-green-hover);
}

button:active {
  background-color: var(--theme-green-active);
}
